<div class="container">
    <h1>Quotes</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes;let i = index'>
                <div>
                    <h6 id={{i}} appHighlight>{{quote.name}} created on {{quote.completeDate|date|uppercase}}</h6>

                    <button class="btn btn-primary" (click)='toggleDetails(i)'>See More</button>
                </div>
                <div *ngIf='quote.showAuthor'>
                    <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event, i)'>
                    </app-quote-detail>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>

    <p *ngIf='quotes.length > 5'>Today is a good day, quotes in the air 🧠 </p>