<div>
    <h1>Quotes</h1>
    <hr>
    <ul>
        <div *ngFor='let quote of quotes;let i = index'>
            <li appHighlight>{{quote.name}} created on {{quote.completeDate | date | uppercase}}</li>
            <button class="btn btn-success" (click)='toggleDetails(i)'>See More</button>
            <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='deleteQuote($event, i)'>
            </app-quote-detail>
        </div>
    </ul>
    <p *ngIf='quotes.length > 5'>Today is a good day, quotes in the air 🧠 </p>
</div>